<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>


<p>
    Splurty was built by <a target="_blank" href="https://github.com/abarranco650">Angel</a>. A student at TheFirehoseProject and an Expo at BJ's Restaurant.
  </p>
  <br />
  <p>
    Always having an interest in the advancing technology, Angel decided he wanted to be a part of it. He decided to jump onboard TheFirehoseProject to get his knowledge on coding.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>



   <div class="col-xs-12 col-sm-4">
    <%= image_tag 'aboutmepic.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Angel Barranco</h2>
    <br />
    <p>
      Angel Barranco is a student at TheFirehoseProject and an Expo at BJ's Restaurant in Fresno, CA. He has been working at the restaurant for over a year now and is on his way to being promoted to a server and continues to study at TheFirehose. He plans on creating many web applications for everyone to enjoy later on.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />